{% extends "base.html" %}

{% block content %}
    <h2>Notificaciones</h2>
    <div class="notifications-container">
        {% if request.user.is_authenticated %}
        <div class="mb-3">
            <a href="{% url 'notification-create' %}" class="btn btn-primary">
                Nueva Notificación
            </a>
        </div>
        {% endif %}
        <!-- Formulario de filtros -->
        <div>
            <form method="GET" class="mb-4">
                {{ filterset.form.as_p }}
                <button type="submit" class="btn btn-primary">Filtrar</button>
                <a href="{% url 'notification-list' %}" class="btn btn-secondary">Limpiar</a>
            </form>
        </div>
        
        {% for notificacion in object_list %}
            <div class="notification">
                <h3>{{ notificacion.asunto }}</h3>
                <p><strong>Descripcion: </strong>{{ notificacion.descripcion }}</p>
                <p><strong>Estado de la Notificacion: </strong>{{ notificacion.estado_notificacion }}</p>
                <p><strong>Notificado por: </strong>{{ notificacion.usuario_notificador }}</p>
                <span class="timestamp"><strong>Fecha de reporte: </strong>{{ notificacion.fecha_notificacion }}</span>
                <div class="d-flex gap-2 mt-2">
                    <a href="{% url 'notification-detail' notificacion.pk %}" class="btn btn-primary mt-2">Ver Detalles</a>
                </div>
                
            </div>
        {% empty %}
            <p>No notifications available.</p>
        {% endfor %}
    </div>
{% endblock %}