{% extends "base.html" %}

{% block content %}
    <h2>Incidentes</h2>
    <div class="notifications-container">

        {% for incidente in object_list %}
            <div class="notification">
                <h3> {{ incidente.titulo }}</h3>
                <p><strong>Código: </strong>{{ incidente.codigo }}</p>
                <p><strong>Estado: </strong>{{ incidente.estado_incidente }}</p>
                <p><strong>Área afectada: </strong>{{ incidente.area_afectada }}</p>
                <p><strong>Especialista: </strong> {{ incidente.especialista_asignado|default:"Sin asignar" }}</p>
                <span class="timestamp"><strong>Fecha de reporte: </strong>{{ incidente.fecha_reportado }}</span>
                <div class="d-flex gap-2 mt-2">
                    <a href="{% url 'incidente-detalle' incidente.pk %}" class="btn btn-info btn-sm">
                        Ver Detalles
                    </a>
                </div>
            </div>
        {% empty %}
            <p>No hay incidentes disponibles.</p>
        {% endfor %}
    </div>
{% endblock %}