{% with subareas=area.subareas.all %}
<li>
    <div class="area-node">
        <a href="{% url 'area-detalle' area.pk %}" class="area-link">
            <span class="area-icon {% if depth == 0 %}root-icon{% elif subareas %}child-icon{% else %}leaf-icon{% endif %}">
                {% if depth == 0 %}&#9733;{% elif subareas %}&#8862;{% else %}&#9679;{% endif %}
            </span>
            <span class="area-name">{{ area.nombre }}</span>
        </a>

        {% if request.user.perfil_persona.area == area and es_alta_gerencia and area in request.user.perfil_persona.config_gerencia.areas_supervision.all %}
            <span class="area-badge both">&#9733; Tu &aacute;rea &amp; supervisada</span>
        {% elif request.user.perfil_persona.area == area %}
            <span class="area-badge my-area">&#9733; Tu &aacute;rea</span>
        {% elif es_alta_gerencia and area in request.user.perfil_persona.config_gerencia.areas_supervision.all %}
            <span class="area-badge supervised">&#9673; Supervisada</span>
        {% endif %}

        {% if es_admin %}
            <a href="{% url 'area-crear' %}?parent={{ area.pk }}" class="btn-subarea">+ Sub&aacute;rea</a>
        {% endif %}
    </div>

    {% if subareas %}
        <ul>
            {% for subarea in subareas %}
                {% include 'organizations/area_nodo.html' with area=subarea depth=depth|add:1 %}
            {% endfor %}
        </ul>
    {% endif %}
</li>
{% endwith %}
